@using EPiServer.Framework.Web.Resources
@using EPiServer.Editor
﻿@using Kristianstad.ViewModels.Compare
@using Kristianstad.CompareDomain.Models

@model CompareResultsModel

@Html.Partial("_AddressDistance")

<div class="compare-main-box">
    <table class="compare-table">
        <thead>
            <tr>
                <td></td>
                @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                {
                    <td>
                        <div>
                            <h3><a href="@ou.Link">@ou.Title</a></h3>
                        </div>
                        <div>
                            @if (ou.TitleImage != null)
                            {
                                <img src="@Url.ContentUrl(ou.TitleImage)" />
                            }
                            else
                            {
                                <img src="~/Content/img/template/img-innehallssida.jpg" />
                            }
                        </div>
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="query"><div><span>Address</span></div></td>
                @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                {
                    <td class="result">
                        @if (ou.Address != null)
                        {
                            <div><span>@ou.Address</span></div>
                        }
                        else
                        {
                            <div><span class="noValue">Inget värde.</span></div>
                        }
                    </td>
                }
            </tr>

            <tr>
                <td class="query"><div><span>Telefon</span></div></td>
                @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                {
                    <td class="result">
                        @if (ou.Telephone != null)
                        {
                            <div><span>@ou.Telephone</span></div>
                        }
                        else
                        {
                            <div><span class="noValue">Inget värde.</span></div>
                        }
                    </td>
                }
            </tr>

            <tr>
                <td class="query"><div><span>E-mail</span></div></td>
                @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                {
                    <td class="result">
                        @if (ou.Email != null)
                        {
                            <div><a href="mailto:@ou.Email">@ou.Email</a></div>
                        }
                        else
                        {
                            <div><span class="noValue">Inget värde.</span></div>
                        }
                    </td>
                }
            </tr>

            <tr>
                <td class="query"><div><span>Avstånd</span></div></td>
                @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                {
                    <td class="result">
                        <div>
                            Avstånd:
                            <span class="address-distance" data-address="@ou.Address">Ingen adress angiven</span>
                            <span class="address-distance-toggle">km</span>
                        </div>
                    </td>
                }
            </tr>

            @foreach (PropertyQueryWithResults pqwr in Model.QueriesWithResults)
            {
                <tr>
                    <td class="query"><div><span>@pqwr.Query.Name</span></div></td>

                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @{ 
                                var resultsForOrganisationalUnit = @pqwr.Results.Where(x => x.OrganisationalUnitId == ou.SourceId).FirstOrDefault();
                            }
                            @if (resultsForOrganisationalUnit != null && resultsForOrganisationalUnit.PeriodToUse != null && resultsForOrganisationalUnit.PeriodToUse.ValueToUse != null)
                            {
                                if (pqwr.Query.Name.Contains('%'))
                                {
                                    <div class="answer-percent-bar">
                                        <div class="percentageBox">
                                            <div class="percentage" style="width: @((int)resultsForOrganisationalUnit.PeriodToUse.ValueToUse.Value)%"></div>
                                        </div>
                                        <div class="percentageValue">
                                            <span title="År: @resultsForOrganisationalUnit.PeriodToUse.Period">
                                                @resultsForOrganisationalUnit.PeriodToUse.ValueToUse.Value%
                                            </span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span title="År: @resultsForOrganisationalUnit.PeriodToUse.Period">
                                            @resultsForOrganisationalUnit.PeriodToUse.ValueToUse.Value
                                        </span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div>
                                    <span title="Inget värde." class="noValue">
                                        -
                                    </span>
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
