@using EPiServer.Framework.Web.Resources
@using EPiServer.Editor
﻿@using Kristianstad.ViewModels.Compare
@using Kristianstad.CompareDomain.Models

@model CompareResultsModel

@if (Model.OrganisationalUnits.Count == 1)
{
<div class="compare-main-box">

    @foreach (PropertyQueryWithResults pqwr in Model.QueriesWithResults)
    {
        <div class="column small-12">
            <span>@pqwr.Query.Name</span>
        </div>

        <div class="column small-12">

            <div class="result">
                @{
                    var resultsForOrganisationalUnit = @pqwr.Results.Where(x => x.OrganisationalUnitId == Model.OrganisationalUnits.First().SourceId).FirstOrDefault();
                }
                @if (resultsForOrganisationalUnit != null && resultsForOrganisationalUnit.PeriodToUse != null && resultsForOrganisationalUnit.PeriodToUse.ValueToUse != null)
                {
                    if (pqwr.Query.Name.Contains('%'))
                    {
                        <div class="answer-percent-bar">
                            <div class="percentageBox">
                                <div class="percentage" style="width: @((int)resultsForOrganisationalUnit.PeriodToUse.ValueToUse.Value)%"></div>
                            </div>
                            <div class="percentageValue">
                                <span title="År: @resultsForOrganisationalUnit.PeriodToUse.Period">
                                    @resultsForOrganisationalUnit.PeriodToUse.ValueToUse.Value%
                                </span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <span title="År: @resultsForOrganisationalUnit.PeriodToUse.Period">
                                @resultsForOrganisationalUnit.PeriodToUse.ValueToUse.Value
                            </span>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <span title="Inget värde." class="noValue">
                            -
                        </span>
                    </div>
                }
            </div>
            
        </div>
    }
</div>
}