<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>

    @Styles.Render("~/Content/core/EPiCoreCss")

    @Html.RequiredClientResources("Header")
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

    <div class="row">
        <div class="columns small-12">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Content/core/EPiCoreJs")
    @Html.RequiredClientResources("Footer")

    <script>
        $(document).foundation();
    </script>
</body>
</html>