@using Kristianstad.Models.Pages.Compare
@using Kristianstad.ViewModels.Compare
@using EPiServer.Editor
@using EPiServer.Security
@using EPiServer.Web.Mvc.Html
@using Kristianstad.Business.Models.Blocks.Compare
@using Kristianstad.CompareDomain.Models

@model Kristianstad.ViewModels.Compare.CompareResultPageModel

@Html.CssLink("~/Content/compare.css")

<div class="column small-12 medium-12 large-12 content-page content">
    @{
        Html.RenderAction("Breadcrumbs", "MenuKr");
    }
    
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

    @Html.PropertyFor(x => x.CurrentPage.Description)


    <div class="compare-main-box">
        <table class="compare-table">
            <thead>
                <tr>
                    <td></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td>
                            <div>
                                <p>@ou.Title</p>
                            </div>
                            <div>
                                @if (ou.TitleImage != null)
                                {
                                    <img src="@Url.ContentUrl(ou.TitleImage)" />
                                }
                                else
                                {
                                    <img src="~/Content/img/template/img-innehallssida.jpg" />
                                }
                            </div>
                        </td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="query"><p>Address</p></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @if (ou.Adress != null)
                            {
                                <p>@ou.Adress</p>
                            }
                            else
                            {
                                <p class="noValue">Inget värde.</p>
                            }
                        </td>
                    }
                </tr>

                <tr>
                    <td class="query"><p>Telefon</p></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @if (ou.Telephone != null)
                            {
                                <p>@ou.Telephone</p>
                            }
                            else
                            {
                                <p class="noValue">Inget värde.</p>
                            }
                        </td>
                    }
                </tr>

                <tr>
                    <td class="query"><p>E-mail</p></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @if (ou.Email != null)
                            {
                                <p><a href="mailto:@ou.Email">@ou.Email</a></p>
                            }
                            else
                            {
                                <p class="noValue">Inget värde.</p>
                            }
                        </td>
                    }
                </tr>

                @foreach (PropertyQueryWithResults pqwr in (List<PropertyQueryWithResults>)ViewData["existingQueries"])
                {
                    <tr>
                        <td class="query"><div><span>@pqwr.Query.Title</span></div></td>
                        
                        @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                        {
                            float? viewValue = null;
                            int? viewPeriod = null;

                            <td class="result">
                                @if (@pqwr.Results.Where(x => x.OrganisationalUnitId == ou.SourceId).First().PeriodValues.Count > 0)
                                {
                                    pqwr.Results.Where(x => x.OrganisationalUnitId == ou.SourceId).Reverse();

                                    foreach (PropertyQueryResult periods in @pqwr.Results.Where(x => x.OrganisationalUnitId == ou.SourceId))
                                    {
                                        foreach (PropertyQueryResultForPeriod valuePeriod in periods.PeriodValues)
                                        {
                                            foreach (PropertyQueryResultValue value in valuePeriod.Values)
                                            {
                                                if (value.Value != null)
                                                {
                                                    viewValue = value.Value;
                                                }

                                                if (viewValue != null)
                                                {
                                                    break;
                                                }
                                            }

                                            if (viewValue != null)
                                            {
                                                viewPeriod = valuePeriod.Period;
                                                break;
                                            }
                                        }

                                        if (viewValue != null)
                                        {
                                            break;
                                        }
                                    }

                                    if (viewValue != null)
                                    {
                                        if (pqwr.Query.Title.Contains('%'))
                                        {
                                            <div class="answer-percent-bar">
                                                <div class="percentageBox">
                                                    <div class="percentage" style="width: @viewValue%"></div>
                                                </div>
                                                <div class="percentageValue">
                                                    <span title="År: @viewPeriod">
                                                        @viewValue%
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <p title="År: @viewPeriod">
                                                @viewValue
                                            </p>
                                        }
                                    }
                                }
                                else
                                {
                                    <p title="Inget värde." class="noValue">-</p>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (PageEditing.PageIsInEditMode)
    {
        <div class="row editor-only-element">

            <h3>Lägg till/ta bort frågor till jämförelsen</h3>

            <div class="span8 clearfix">

                @Html.Partial("_AddPropertyQueriesForm")

            </div>

                        
        </div>
    }

</div>

