@using Kristianstad.Models.Pages.Compare
@using Kristianstad.ViewModels.Compare
@using EPiServer.Editor
@using EPiServer.Security
@using EPiServer.Web.Mvc.Html

@model Kristianstad.ViewModels.Compare.CompareResultPageModel

@Html.CssLink("~/Content/compare.css")

<div class="column small-12 medium-12 large-12 content-page content">
    @{
        Html.RenderAction("Breadcrumbs", "MenuKr");
    }
    
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

    @Html.PropertyFor(x => x.CurrentPage.Description)


    <div class="compare-main-box">
        <table class="compare-table">
            <thead>
                <tr>
                    <td></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td>
                            <div>
                                <p>@ou.Title</p>
                            </div>
                            <div>
                                @if (ou.TitleImage != null)
                                {
                                    <img src="@Url.ContentUrl(ou.TitleImage)" />
                                }
                                else
                                {
                                    <img src="~/Content/img/template/img-innehallssida.jpg" />
                                }
                            </div>
                        </td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="query"><p>Address</p></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @if (ou.Adress != null)
                            {
                                <p>@ou.Adress</p>
                            }
                            else
                            {
                                <p class="noValue">Inget värde.</p>
                            }
                        </td>
                    }
                </tr>

                <tr>
                    <td class="query"><p>Telefon</p></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @if (ou.Telephone != null)
                            {
                                <p>@ou.Telephone</p>
                            }
                            else
                            {
                                <p class="noValue">Inget värde.</p>
                            }
                        </td>
                    }
                </tr>

                <tr>
                    <td class="query"><p>E-mail</p></td>
                    @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                    {
                        <td class="result">
                            @if (ou.Email != null)
                            {
                                <p><a href="mailto:@ou.Email">@ou.Email</a></p>
                            }
                            else
                            {
                                <p class="noValue">Inget värde.</p>
                            }
                        </td>
                    }
                </tr>

                @foreach (ResultQueryGroupModel rqgm in Model.ResultQueryGroupsFromSources)
                {
                    foreach (ResultQueryModel rqm in rqgm.ResultQueries)
                    {
                        if (rqm.Use)
                        {
                            <tr>
                                <td class="query">@rqm.Name</td>
                                @foreach (OrganisationalUnitModel ou in Model.OrganisationalUnits)
                                {
                                    <td class="result">
                                        <p>hej</p>
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    @*<div class="row">

        <div class="span8 clearfix">
            <div @Html.EditAttributes("ResultQueries")>

                @Html.PropertyFor(x => x.CurrentPage.ResultQueries)

            </div>
        </div>

    </div>*@

    @if (PageEditing.PageIsInEditMode)
    {
        <div class="row editor-only-element">

            <h3>Lägg till/ta bort frågor till jämförelsen</h3>

            <div class="span8 clearfix">

                @Html.Partial("_AddPropertyQueriesForm")

            </div>

                        
        </div>
    }

</div>

