@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html

@model Kristianstad.ViewModels.Compare.CompareResultPageModel

@Html.CssLink("~/Content/compare.css")
<script src="~/Content/js/compare/geocoder.js"></script>

<div class="column small-12 medium-12 large-12 content-page content">
    @{
        Html.RenderAction("Breadcrumbs", "MenuKr");
    }
    
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

    @Html.PropertyFor(x => x.CurrentPage.Description)

    @Html.PropertyFor(m => m.CurrentPage.CompareResults)


    @if (PageEditing.PageIsInEditMode)
    {
        <div class="row editor-only-element">

            <h3>Lägg till/ta bort frågor till jämförelsen</h3>

            <div class="span8 clearfix">
                @Html.Partial("_AddPropertyQueriesForm")
            </div> 
               
        </div>
    }

</div>