@using EPiServer.Framework.Web.Resources
@using EPiServer.Editor
﻿@using Kristianstad.ViewModels.Compare

@model CompareListModel

@if (Model.OrganisationalUnits.Count > 0 && !string.IsNullOrWhiteSpace(Model.ComparePageUrl))
{
    <nav class="section-menu">
        <h4>@(!string.IsNullOrWhiteSpace(Model.Header) ? Model.Header : "Att jämföra")</h4>
        <ul role="navigation">
            <ul role="navigation">
                @foreach (var ou in @Model.OrganisationalUnits)
                {
                    <li>
                        <div class="row">
                            <div class="column small-12 medium-12 large-8 content">
                                <a href="@ou.URL">@ou.Name</a>
                            </div>
                            <div class="column content-page right-content small-12 medium-12 large-4">
                                <a href="@string.Format("{0}RemoveOrganisationalUnitFromCompare/?id={1}", ou.URL, ou.ID)">Ta bort</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </ul>        
        
        @if (Model.OrganisationalUnits.Count > 1)
        {
            <a href="@Model.ComparePageUrl" class="button">Jämför objekt</a>
        }
        else
        {
            <span title="Minst två objekt måste jämföras.">Välj minst två objekt för att jämföra</span>
        }

        @* <a href="@String.Format("{0}ClearList?id={1}&redirectBackTo={2}", Model.ClearLink, Model.CategoryId, Model.CurrentLink)" class="button">Rensa</a> *@
    </nav>
}