@using EPiServer.Core
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@using Kristianstad.ViewModels.Compare

@model OrganisationalUnitPageModel

<div class="span8 clearfix">

    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

</div>

<div class="span8 clearfix">

    @if (PageEditing.PageIsInEditMode && (string.IsNullOrWhiteSpace(Model.CurrentPage.SourceInfo.SourceName) || string.IsNullOrWhiteSpace(Model.CurrentPage.SourceInfo.SourceId)))
    {
        <div class="callout alert">
            <h5>Incomplete source info</h5>
            <p>This organisational unit has no source info, which makes it impossible to use in comparisons.</p>
            <p>Please make sure to only create organisational units from the generator on a category page.</p>
        </div>
    }

    <figure class="title">

        @if (PageEditing.PageIsInEditMode)
        {
            <div @Html.EditAttributes(m => m.CurrentPage.TitleImage)>

                @if (Model.CurrentPage.TitleImage != null)
                {
                    <img src="@Url.ContentUrl(Model.CurrentPage.TitleImage)?preset=content-title" />
                }
                else
                {
                    //Default image
                    <img src="~/Content/img/template/img-innehallssida.jpg" alt="Default Image" />
                }

            </div>
        }
        else
        {
            if (Model.CurrentPage.TitleImage != null)
            {
                <img src="@Url.ContentUrl(Model.CurrentPage.TitleImage)?preset=content-title" />
            }
            else
            {
                //Default image
                <img src="~/Content/img/template/img-innehallssida.jpg" alt="Default Image" />
            }
        }

        <figcaption>@Html.PropertyFor(m => m.CurrentPage.TitleImageCaption)</figcaption>

    </figure>

    <div class="right">
        @if (Model.InCompareAlready)
        {
            <a class="button success" href="@string.Format("{0}RemoveOrganisationalUnitFromCompare/?id={1}", Model.URL, Model.CurrentPage.ContentLink.ID)">
                <i class="fa fa-check"></i> Jämför
            </a>
        }
        else
        {
            <a class="button" href="@string.Format("{0}AddOrganisationalUnitToCompare/?id={1}", Model.URL, Model.CurrentPage.ContentLink.ID)">
                <i class="fa fa-plus"></i> Jämför
            </a>
        }
    </div>

    <h3>Beskrivning</h3>
    <p @Html.EditAttributes(x => x.CurrentPage.ShortDescription)>@Model.CurrentPage.ShortDescription</p>
    <p @Html.EditAttributes(x => x.CurrentPage.LongDescription)>@Model.CurrentPage.LongDescription</p>

    <h3>Information</h3>
    <p @Html.EditAttributes(x => x.CurrentPage.Address)>@Model.CurrentPage.Address</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Telephone)>@Model.CurrentPage.Telephone</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Contact)>@Model.CurrentPage.Contact</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Email)>@Model.CurrentPage.Email</p>
    <p @Html.EditAttributes(x => x.CurrentPage.OrganisationalForm)>@Model.CurrentPage.OrganisationalForm</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Latitude)>@Model.CurrentPage.Latitude</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Longitude)>@Model.CurrentPage.Longitude</p>

    <div class="row">
        <h3>Kontaktpersoner</h3>
        @Html.PropertyFor(x => x.CurrentPage.Contacts)
    </div>

    <div class="row">
        <h3>Karta</h3>
        @Html.PropertyFor(x => x.CurrentPage.Map)
    </div>

</div>