@using EPiServer.Core
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@using Kristianstad.ViewModels.Compare

@model OrganisationalUnitPageModel

<div class="span8 clearfix">

    <figure class="title">

        @if (PageEditing.PageIsInEditMode)
        {
            <div @Html.EditAttributes(m => m.CurrentPage.TitleImage)>

                @if (Model.CurrentPage.TitleImage != null)
                {
                    <img src="@Url.ContentUrl(Model.CurrentPage.TitleImage)?preset=content-title" />
                }
                else
                {
                    //Default image
                    <img src="~/Content/img/template/img-innehallssida.jpg" alt="Default Image" />
                }

            </div>
        }
        else
        {
            if (Model.CurrentPage.TitleImage != null)
            {
                <img src="@Url.ContentUrl(Model.CurrentPage.TitleImage)?preset=content-title" />
            }
            else
            {
                //Default image
                <img src="~/Content/img/template/img-innehallssida.jpg" alt="Default Image" />
            }
        }

        <figcaption>@Html.PropertyFor(m => m.CurrentPage.TitleImageCaption)</figcaption>

    </figure>

    <h3>Beskrivning</h3>
    <p @Html.EditAttributes(x => x.CurrentPage.ShortDescription)>@Model.CurrentPage.ShortDescription</p>
    <p @Html.EditAttributes(x => x.CurrentPage.LongDescription)>@Model.CurrentPage.LongDescription</p>

    <h3>Information</h3>
    <p @Html.EditAttributes(x => x.CurrentPage.Address)>@Model.CurrentPage.Address</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Telephone)>@Model.CurrentPage.Telephone</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Contact)>@Model.CurrentPage.Contact</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Email)>@Model.CurrentPage.Email</p>
    <p @Html.EditAttributes(x => x.CurrentPage.OrganisationalForm)>@Model.CurrentPage.OrganisationalForm</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Latitude)>@Model.CurrentPage.Latitude</p>
    <p @Html.EditAttributes(x => x.CurrentPage.Longitude)>@Model.CurrentPage.Longitude</p>

    <div class="row">
        <h3>Kontaktpersoner</h3>
        @Html.PropertyFor(x => x.CurrentPage.Contacts)
    </div>

    <div class="row">
        <h3>Karta</h3>
        @Html.PropertyFor(x => x.CurrentPage.Map)
    </div>

</div>