@using Kristianstad.Models.Pages.Compare
@using Kristianstad.ViewModels.Compare
@using EPiServer.Editor
@using EPiServer.Security

@model Kristianstad.ViewModels.Compare.OrganisationalUnitPageModel
@Html.CssLink("~/Content/compare.css")

<div class="column small-12 medium-12 large-8 content-page content">
    @{
        Html.RenderAction("Breadcrumbs", "MenuKr");
    }

    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
    @{ 
        bool isAlreadyInCompareBox = false;
    }

    @if (ViewData["cookies"] != null)
    {
        @Html.ActionLink("Ta bort", "AddOuToCompare", "OrganisationalUnit", new { id = Model.CurrentPage.ContentLink.ID }, new { @class = "button alert" })
    }
    else
    {
        @Html.ActionLink("Jämför", "AddOuToCompare", "OrganisationalUnit", new { id = Model.CurrentPage.ContentLink.ID }, new { @class = "button" })
    }



    <div class="row">

        @Html.Action("Full", "OrganisationalUnit", new { currentPage = Model.CurrentPage })

    </div>
</div>

<div class="column content-page right-content small-12 medium-12 large-4">
    @{
        Html.RenderAction("SectionMenu", "MenuKr");
    }

    <div class="block-area">
        @Html.PropertyFor(m => m.CurrentPage.CompareList)
    </div>
</div>

@{
    Html.ViewContext.RequestContext.RouteData.Values["currentContent"] = null;
}
