@using Kristianstad.Models.Pages.Compare
@using Kristianstad.ViewModels.Compare
@using EPiServer.Editor
@using EPiServer.Security

@model Kristianstad.ViewModels.Compare.OrganisationalUnitPageModel
@Html.CssLink("~/Content/compare.css")

<div class="column small-12 medium-12 large-8 content-page content">
    @{
        Html.RenderAction("Breadcrumbs", "MenuKr");
    }

    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>


    @if (Model.InCompareAlready)
    {
        <a class="button alert" href="@string.Format("{0}RemoveOrganisationalUnitFromCompare/?id={1}", Model.URL, Model.CurrentPage.ContentLink.ID)">
            Ta bort
        </a>
    }
    else
    {
        <a class="button" href="@string.Format("{0}AddOrganisationalUnitToCompare/?id={1}", Model.URL, Model.CurrentPage.ContentLink.ID)">
            Jämför
        </a>
    }
    @*
    @if (Model.InCompareAlready)
    {
        @Html.ActionLink("Ta bort", "RemoveOrganisationalUnitFromCompare", "OrganisationalUnit", new { organisationalUnitPage = Model.CurrentPage }, new { @class = "button alert" })
    }
    else
    {
        @Html.ActionLink("Jämför", "AddOrganisationalUnitToCompare", "OrganisationalUnit", new { organisationalUnitPage = Model.CurrentPage }, new { @class = "button" })
    }
    *@

    <div class="row">
        @Html.Action("Full", "OrganisationalUnit", new { currentPage = Model.CurrentPage })
    </div>

</div>


<div class="column content-page right-content small-12 medium-12 large-4">
    
    <div class="block-area">
        @Html.PropertyFor(m => m.CurrentPage.CompareListBlock)
    </div>
    
    @{
        Html.RenderAction("SectionMenu", "MenuKr");
    }

    <div class="block-area" @Html.EditAttributes(x => x.CurrentPage.CompareResults)>
        @Html.Action("Preview", "CompareResultsBlock", new { compareResultsBlock = Model.CurrentPage.CompareResults })
    </div>

    <div class="block-area">
        @Html.PropertyFor(m => m.CurrentPage.RightBlockArea)
    </div>

</div>