@using Kristianstad.Models.Pages.Compare

@model EPiCore.ViewModels.Pages.PageViewModel<CompareStartPage>

@Html.CssLink("~/Content/compare.css")


<div class="column small-12 medium-12 large-12 content-page content">

    <h1 @Html.EditAttributes(x => x.CurrentPage.Heading)>@Model.CurrentPage.Heading</h1>
    
    <div class="row margined-row">
        <div class="span8 clearfix" @Html.EditAttributes(x => x.CurrentPage.Description)>
            @Html.DisplayFor(m => m.CurrentPage.Description)
        </div>
    </div>

    <div class="row margined-row">
        <div class="span8 clearfix">
            @Html.PropertyFor(x => x.CurrentPage.GroupCategoryList)
        </div>
    </div>

</div>