@using Kristianstad.Models.Pages.Compare
@using EPiServer.Editor
@using EPiServer.Security

@model Kristianstad.ViewModels.Compare.CategoryPageModel

<div class="column small-12 medium-12 large-8 content-page content">
    @{
        Html.RenderAction("Breadcrumbs", "MenuKr");
    }
    
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

    <div class="row">

        <div class="span8 clearfix">
            <div @Html.EditAttributes("OrganisationalUnitList")>

                @Html.PropertyFor(x => x.CurrentPage.OrganisationalUnitList)

            </div>
        </div>

    </div>

</div>

<div class="column content-page right-content small-12 medium-12 large-4">
    @{
        Html.RenderAction("SectionMenu", "MenuKr");
    }

    <div class="block-area">
        @Html.PropertyFor(m => m.CurrentPage.RightBlockArea)
    </div>
</div>

